doctype html
html(ng-app='app')
  head
    title mutrec

    link(rel='stylesheet', href='static/style.css')

    script(src='static/vendor.js')
    script(src='static/app.js')

    if isDebug
      script(src='http://localhost:35729/livereload.js')

  body.bp(ng-controller='AppCtrl')
    h1 Multitrack Recording App
    h2(ng-bind='yeah')

    button.btn.btn-primary
      span.glyphicon.glyphicon-search
