doctype html
html(ng-app='app')
  head
    title mutrec

    link(rel='stylesheet', href='static/app.css')

    script(src='static/vendor.js')
    script(src='static/app.js')

    unless isRelease
      script(src='http://localhost:35729/livereload.js')

  body.container(ng-controller='AppCtrl')
    h1 Multitrack Recording App
    p.lead(ng-bind='yeah')

    button.btn.btn-primary
      span.glyphicon.glyphicon-search
