doctype html
html(ng-app='app')
  head
    title webapp

    link(rel='stylesheet', href='static/app.css')

    script(src='static/vendor.js')
    script(src='static/app.js')

    unless isRelease
      script(src='http://localhost:35729/livereload.js')

  body(ng-controller='AppCtrl')
    h1 webapp
    p(ng-bind='greeting')
    button(ng-click='ringDoorBell()'): span.icon-bell
