doctype html
html(ng-app='app')
  head
    title mutrec

    link(rel='stylesheet', href='style.css')

    script(src='vendor.js')
    script(src='app.js')

    if isDebug
      script(src='http://localhost:35729/livereload.js')

  body.bp(ng-controller='AppCtrl')
    h1 Multitrack Recording App
    h2(ng-bind='yeah')
