doctype html
html(ng-app='app')
  head
    title webapp

    link(rel='stylesheet', href='static/app.css')

    script(src='static/vendor.js')
    script(src='static/app.js')

    unless isRelease
      script(src='http://localhost:35729/livereload.js')

  body.container(ng-controller='AppCtrl')
    h1 webapp
    p.lead(ng-bind='greeting')

    button#doorBell.btn.btn-primary(ng-click='ringDoorBell()')
      span.glyphicon.glyphicon-bell
