doctype html
html
  head
    title mutrec

    link(rel = 'stylesheet', href = 'style.css')

    script(src = 'vendor.js')
    script(src = 'app.js')

    if isDebug
      script(src = 'http://localhost:35729/livereload.js')

  body.bp
    h1 Multitrack Recording App
